body {
    background-color: black;
    margin: 0rem;
    overflow: hidden;
}
#image-track > .image {
    width: 60vmin;
    height: 98vmin;
    object-fit: cover;
    object-position: 100%, -50%;
    border-radius: 3%;

}
#image-track {
    display: flex;
    gap: 5vmin;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
